header .masthead {
  background-color: #fff;
  /* margin-top: 10rem; */
}
header.masthead .banner img {
    width: auto;
}
#benefits .container .row {
  margin: 5rem auto;
}
#benefits .container .row:nth-child(even) {
  flex-direction: row-reverse;
}
#benefits .container .row .item-intro {
  padding: 5rem;
  font-size: 1.25rem;
}
#process .process-item {
    background: #F26522;
    border-radius: 8px;
    padding: 5rem 2rem;
    position: relative;
    min-height: 505px;
}
#process .process-item .process-img {
  padding: 1rem 0;
  height: 134px;
}
#process .process-item .process-title {
  height: 84px;
}
#process .process-step {
  position: absolute;
  height: 50px;
  width: 50px;
  position: absolute;
  left: 50%;
  margin-left: -25px;
  top: -5%;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid #222222;
}
#process .process-step .inner-number {
  margin: .7rem;
}
header.masthead .banner {
  margin-top: 2rem;
}
@media screen and (min-width: 1200px) {
header.masthead {
    height: 100vh;
    min-height: 40rem;
    padding-top: 140px;
    padding-bottom: 0;
}
header.masthead .banner img {
  width: 95%;
}

}
@media screen and (max-width: 1200px) {
    header.masthead .banner img {
      width: 100%;
  }
}
@media screen and (max-width: 768px) {
  #benefits .container .row:nth-child(even) {
    flex-direction: row;
  }
  #benefits .container .row img{
    width: 100%;
  }
  .page-section {
    padding: 0;
  }
}
@media screen and (max-width: 1024px) {
  .masthead {
    margin-top: 8rem;
  }
  #getajob {
    margin: 5rem auto;
  }
  header.masthead .banner {
    margin: 2rem auto;
}
}
@media screen and (max-width: 552px) {

  #benefits .container .row img{
    width: 80%;
    margin: auto;
  }

}
